<div class="col-lg-6 mb-lg-auto">
  <div class="card card-register">
    <div class="card-header">
      <img class="card-img" src="/assets/img/square1.png" alt="Card image">
      <h4 class="card-title">Register</h4>
    </div>
    <div class="card-body">
      <form id="signupForm" class="form" action="/signup" method="POST">
      <fieldset>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-single-02"></i>
            </div>
          </div>
          <input type="text" class="form-control" name="name" placeholder="First & Last Name" required>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-email-85"></i>
            </div>
          </div>
          <input type="text" class="form-control" name="emailAddress" placeholder="Email" required>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-email-85"></i>
            </div>
          </div>
          <input type="tel" class="form-control" name="phoneNumber" placeholder="Phone Number" required>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-lock-circle"></i>
            </div>
          </div>
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="input-group mt-4">
          <button type="submit" class="col btn btn-primary">Sign Up</button>
        </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{{!-- <script>
$('#signupForm').validate();
</script> --}}