<div class="col-lg-6 mb-lg-auto">
  <div class="card card-register">
    <div class="card-header">
      <img class="card-img" src="/assets/img/square1.png" alt="Card image">
      <h4 class="card-title">Register</h4>
    </div>
    <div class="card-body">
      <form id="signupForm" class="form needs-validation" action="/signup" method="POST" enctype="multipart/form-data" novalidate>
      <fieldset>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-single-02"></i>
            </div>
          </div>
          <input type="text" class="form-control" name="name" placeholder="First & Last Name" required>
          <div class="invalid-feedback">Please enter your first & last names.</div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-email-85"></i>
            </div>
          </div>
          <input type="text" class="form-control" name="emailAddress" placeholder="Email" required>
          <div class="invalid-feedback">Im going to need this so you can log in.</div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-mobile"></i>
            </div>
          </div>
          <input type="tel" class="form-control" name="phoneNumber" placeholder="Phone Number" required>
          <div class="invalid-feedback">I need your phone number.</div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-lock-circle"></i>
            </div>
          </div>
          <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off" required>
          <div class="invalid-feedback">Errm..Your password ?</div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend" style="width: 100%; border-radius: 5px;">
            <div class="input-group-text" style="border: unset;">
              <i class="tim-icons icon-image-02"></i>
            </div>
            <input type="file" class="custom-file-input" id="profileImage" name="profileImage" aria-describedby="inputGroupFileAddon01">    
            <div class="">
              <label class="custom-file-label" for="inputGroupFile01" style="padding-top: 1em; padding-left: 4.8em; font-size: 0.7rem;">Choose Image</label>
            </div>
             
          </div>
          <small id="fileName" class="form-text"></small>
          
        </div>
        
        <div class="input-group mt-4">
          <button type="submit" class="col btn btn-primary">Sign Up</button>
        </div>
        <div class="messages text-danger font-weight-bold">{{error}}</div>
        <center>
          <p>Already a member ? <a href="/signin">Click here to log in</a></p>
          <p><a href="/forgot">iForgot</a></p>
        </center>       
        </fieldset>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#profileImage').change(()=>{
    $('#fileName').text('File Name: ' + $('#profileImage').val().replace(/^.*[\\\/]/, ''));
});
</script>