
    <div class="col-md-12">
    <div class="card">
        <div class="card-header">
        <h5 class="title">New Survey</h5>
        </div>
        <div class="card-body">
        <form id="newSurveyForm" action="/survey/new" method="POST">
        <div class="messages text-danger font-weight-bold">{{error}}</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Survey Name</label>
                    <input id="surveyName" name="surveyName" type="text" class="form-control" placeholder="Survey Name">
                    <div class="messages text-danger font-weight-bold">{{surveyNameError}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Notes</label>
                    <textarea id="surveyNotes" name="surveyNotes" rows="4" cols="80" class="form-control" placeholder="Survey Notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input id="getId" name="getId" class="form-check-input" type="checkbox" value=true checked>
                        Get Respondent Id
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        </label>
                        <small class="form-text text-muted mb-3">If checked, respondents will be asked for their names, email addresses & phone numbers.</small>
                    </div>
                </div>
            </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-primary btn-sm float-right">Submit</button>
        </div>
        </form>
        </div>
    </div>
    </div>    
