<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-1">New Survey</h2>
        </div>
        <div class="card-body">
        <form id="newSurveyForm" class="form" action="/newSurvey" method="POST">
        <fieldset>
        <div class="messages text-danger font-weight-bold">{{error}}</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label class="required">Survey Name</label>
                    <input id="surveyName" name="surveyName" type="text" class="form-control mb-0" placeholder="Survey Name">
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "surveyName"}} 
                                <div class="messages text-danger font-weight-bold">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Survey Brand Name</label>
                        <input id="surveyBrandname" name="surveyBrandname" type="text" class="form-control mb-0" placeholder="Survey Brand Name">
                        <small id="surveyBrandnameHelp" class="form-text text-muted">Will be displayed as logo on the survey</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Notes</label>
                    <textarea id="surveyNotes" name="surveyNotes" rows="4" cols="80" class="form-control" placeholder="Survey Notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input id="getId" name="getId" class="form-check-input" type="checkbox" value=true checked>
                        Get Respondent Id
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        </label>
                        <small class="form-text text-muted mb-3">If checked, respondents will be asked for their names, email addresses & phone numbers.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input id="notify" name="notify" class="form-check-input" type="checkbox" value=false>
                        Response Notification
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        </label>
                        <small class="form-text text-muted mb-3">If checked, you will receive an email notification when a response is sent.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input id="showTOU" name="showTOU" class="form-check-input" type="checkbox" value=false>
                        Add Terms of Use
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        </label>
                        <small class="form-text text-muted mb-3">If checked, respondents will have to agree to the terms of use before taking the survey.</small>
                    </div>
                </div>
            </div>
            <div class="row d-none surveyTOUInput">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Terms of Use</label>
                    <textarea id="surveyTOU" name="surveyTOU" rows="4" cols="80" class="form-control" placeholder="Terms & Conditions for taking the survey"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-check">
                        <label class="form-check-label">
                        <input id="getInstructions" name="getInstructions" class="form-check-input" type="checkbox" >
                        Enter Instructions for this survey
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row d-none mt-3 surveyInstructionsInput">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Pre-Survey Instructions</label>
                    <input id="surveyInstructions" name="preSurveyInstructions" type="text" class="form-control mb-0" placeholder="Enter pre instructions for this survey">
                    <small id="preSurveyInstructionsHelp" class="form-text text-muted">Will be displayed with the survey items</small>
                    </div>
                </div>
            </div>
            <div class="row d-none mt-3 surveyInstructionsInput">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Post-Survey Instructions</label>
                    <input id="postSurveyInstructions" name="postSurveyInstructions" type="text" class="form-control mb-0" placeholder="Enter post instructions for this survey">
                    <small id="postSurveyInstructionsHelp" class="form-text text-muted">Will be displayed when the survey is complete</small>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary btn-sm float-right">Submit</button>
            </div>
        </fieldset>
        </form>
        </div>
    </div>
</div>    
