    <div class="col-md-8">
    <div class="card">
        <div class="card-header">
        <h5 class="title">Surveneer</h5>
        </div>
        <div class="card-body">
<h2>{{error}}</h2>
<h4>Error: Looks like something is broken...Please click <a href="/">here</a> to try again.</h4>
</div>
</div>
</div>